.get-started-03 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get-started-row {
  margin-bottom: 200px;
}
.get-started-content-03 {
  position: relative;
  margin-left: 114px;
  max-width: 632px;
}

.get-started-content-03::before {
  position: absolute;
  /* left: -153px;
    top: -103px; */
  left: -153px;
  transform: translateY(50%);
  /* content: "01"; or  */
  content: attr(data-number);
  height: 240px;
  width: 240px;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: #ffffff;
  opacity: 0.1;
}
.get-started-title-03 {
  padding-left: 96px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
  margin-bottom: 27px;
}
.get-started-title-03::before {
  transform: translateY(-50%);
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background: #fbd784;
}
.get-started-subtitle-03 {
  width: 555px;
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
  margin-bottom: 27px;
}
.get-started-text-03 {
  margin-bottom: 27px;
  width: 632px;
  line-height: 32px;
  color: #ffffff;
}
.get-started-read-03 {
  width: 87px;
  line-height: 22px;
  color: #fbd784;
}
.get-started-read-03::after {
  display: block;
  content: "";
  position: absolute;
  left: 15%;
  transform: translateY(-100%);
  width: 24px;
  height: 16px;
  background-image: url(../../img/arrow-right.svg);
}
.img-wrapper {
  width: 566px;
  height: 720px;
}
